* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background-color: rgb(51, 48, 47);
  text-align: center;
}

canvas {
  height: 95vh;
}

@media only screen and (max-width: 700px) {
  canvas {
    height: 85vh;
  }
}

@media only screen and (max-width: 600px) {
  canvas {
    height: 75vh;
  }
}

@media only screen and (max-width: 500px) {
  canvas {
    height: 65vh;
  }
}

@media only screen and (max-width: 400px) {
  canvas {
    height: 55vh;
  }
}

@media only screen and (max-width: 350px) {
  canvas {
    height: 45vh;
  }
}